* {
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: 1fr;
  /* background-color: #3f4c61; */
  background-color: #166077;
  margin: 10px;
}
.container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr;
  max-width: 1200px;
  min-height: 1000px;
  background-color: #fff;
  margin: 0px auto;
}
.content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: #3e94e4;
}
.content i {
  transform: rotate(-5deg);
  font-size: 20px;
  font-weight: bold;
}
.line {
  border-bottom: 1px solid #ffffffaf;
  margin-top: 10px;
  margin-bottom: 20px;
}
.line2 {
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
}
.line3 {
  border-bottom: 4px solid #aaaaaa93;
  margin: 0 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Start top-half */
.top-half {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
  padding: 10px;
  background-color: #37bc9b;
}
.left-half-top {
  text-align: center;
}
.left-half-top .image img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px #000;
}
.left-half-top .name p {
  color: #3e94e4;
  font-size: 32px;
  font-weight: bold;
}
.left-half-top .name span {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.center-half-top .title p {
  font-size: 16px;
  line-height: 1.5;
  color: #fffffff3;
}
.right-half-top .contact ul {
  list-style: none;
}
.right-half-top .contact ul li {
  color: #fff;
  margin: 15px 0;
  font-size: 16px;
}
.right-half-top .contact ul li i {
  margin-right: 10px;
  color: #3e94e4;
  font-size: 20px;
}
.right-half-top .contact ul li a {
  text-decoration: none;
  color: #fff;
}
/* End top-half */

/* Start bottom-half */
.bottom-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 10px;
}
.left-half-bottom .experiences .job-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.left-half-bottom .experiences .no-exp {
  border: 1px solid #aaa;
  padding: 8px;
  border-radius: 8px;
  background-color: #cccccc50;
  box-shadow: 0px 0px 2px 0px #aaa;
  position: relative;
  margin-top: 25px;
}
.left-half-bottom .experiences .no-exp::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 50px;
  transform: translateX(-50%);
  border-width: 0 20px 20px 20px;
  border-style: solid;
  border-color: transparent transparent #aaa transparent;
}
.left-half-bottom .experiences ul {
  margin-left: 25px;
  line-height: 1.5;
  list-style-type: circle;
}
.right-half-bottom .skills .skill {
  margin: 10px 0;
}
.right-half-bottom .skills .skill-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.right-half-bottom .skills .progress {
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 20px;
}
.right-half-bottom .skills .progress-bar {
  background-color: #3e94e4;
  height: 100%;
  text-align: right;
  padding-right: 10px;
  color: white;
  line-height: 20px;
  border-radius: 10px;
  transition: width 0.4s ease;
}
/* End bottom-half*/

/* Start bottom-half-part2 */
.content-edu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.education span {
  color: #000;
  font-size: 14px;
  display: block;
}
.education {
  margin: 20px 0;
}
.language {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 10px 0;
}
.language-name {
  font-weight: bold;
  margin-bottom: 20px;
}
.stars {
  color: #ffd700;
}
.star {
  margin-right: 5px;
}
.certificates {
  margin: 20px 0;
}
.certificates p {
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
  font-size: 18px;
}
.certificates span {
  color: #000;
  font-size: 14px;
}
.personal-inf .inf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.social-links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.social-links a {
  position: relative;
  text-decoration: none;
  font-size: 30px;
  transition: color 0.3s ease;
}
.social-links a::before {
  content: attr(data-label);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1c5d99;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.social-links a:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(-65px);
}
.social-links a.linkedin {
  color: #0077b5;
}
.social-links a.facebook {
  color: #3b5998;
}
.social-links a.github {
  color: #333;
}
.social-links a.instagram {
  color: #e4405f;
}
.social-links a:hover.linkedin {
  color: #005582;
}
.social-links a:hover.facebook {
  color: #2d4373;
}
.social-links a:hover.github {
  color: #24292e;
}
.social-links a:hover.instagram {
  color: #bc2a8d;
}
.web-app {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.web-app a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  width: 45%;
}
.web-app i {
  font-size: 40px;
  margin-right: 10px;
}
.web-app span {
  font-size: 16px;
  font-weight: bold;
}
.web-app a.cinmana {
  color: #0077b5;
}
.web-app a.store {
  color: #3b5998;
}
.web-app a.my {
  color: #d82949;
}
.web-app a.dashboard {
  color: #d82949;
}
.web-app a.POS {
  color: #000;
}
.web-app a.blog {
  color: #000;
}
.web-app a:hover.cinmana {
  color: #005582;
}
.web-app a:hover.store {
  color: #2d4373;
}
.web-app a:hover.my {
  color: #af2f47d7;
}
.web-app a:hover.dashboard {
  color: #af2f47d7;
}
.web-app a:hover.POS {
  color: #615e60;
}
.web-app a:hover.blog {
  color: #615e60;
}
/* End bottom-half-part2*/

.container-footer {
  background-color: #edeff1;
  text-align: center;
  font-size: 12px;
  padding: 18px 0;
  color: #868585;
  max-width: 1200px;
  margin: 0px auto;
}
@media (max-width: 1000px) {
  .container {
    grid-template-rows: 1fr;
  }
  .top-half {
    grid-template-columns: 1fr;
  }
  .bottom-half {
    grid-template-columns: 1fr;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.content,
.name p {
  animation: fadeIn 1.2s ease-in-out;
  animation-delay: 0.3s;
}

@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.line,
.line2,
.line3 {
  animation: fadedown 1.2s ease-in-out;
  animation-delay: 0.3s;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content i {
  animation: rotate360 1.5s linear;
}
